
<html> 
	<header> Pending requests </header>
	<div class = "story-comment-box-mobile">

	<ul>
		<% @inviters.each do |inviter| %>
			<li>
				<div style="margin:1%;" >
					<%= inviter.email %>
				</div>	
					<%= link_to 'Approve',{:controller => 'friendships',
					 	:action => 'approve',
					  	:friend_id => inviter.id}, 
					  	class: "btn btn-success" %>

					<%= link_to 'Ignore',{:controller => 'friendships',
					 	:action => 'remove',
					 	:friend_id => inviter.id},
					 	class: "btn" %>

					<%= link_to 'Block',{:controller => 'friendships',
						:action => 'remove', 
						:friend_id => inviter.id}, 
						class: "btn btn-danger" %>
			</li>
		<% end %>
		</div>

	</ul>
</html>