<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>La2etlak new password request</h2>
		<p> A request has been made to reset your password, even if you didn't make this request make sure to login using the password below </p>
    <p> your new password is <b><%= @pass %></b> </p>
		</br>
    <p> Thank you for using La2etlak, have a nice day ! </p>
  </body>
</html>
