<div class="container">
  <div class="span3">
    <div class="well">
        <p>
          <a class="btn btn-danger btn-large" href="/stories/">
            Stories
          </a>
        </p>
    </div>
  </div>
  <div class="span3">
    <div class="well">
        <p>
          <a class="btn btn-success btn-large" href="/interests/list">
            Interests
          </a>
        </p>
    </div>
  </div>
  <div class="span3">
    <div class="well">
          <p>
            <a class="btn btn-primary btn-large" href="/users/">
              Users
            </a>
          </p>
    </div>
  </div>
</div>
