<div class="main-settings-page">

<div class="middle-settings-panel" >
<ul id="myTab" class="nav nav-tabs">
            <li class="active "><a href="#profile_settings" data-toggle="tab">Profile settings</a></li>
            <li class=""><a href="#story_settings" data-toggle="tab">Story settings</a></li>
            <li class=""><a href="#general_settings" data-toggle="tab">General settings</a></li>
            <li class=""><a href="#new_admin" data-toggle="tab">Add a new admin</a></li>
          </ul>
<div id="myTabContent" class="tab-content">
           <div class="tab-pane fade" id="profile_settings">
              
            </div>
            <div class="tab-pane fade active in" id="story_settings">
              
            </div>
            <div class="tab-pane fade" id="general_settings">
              
            </div>
            <div class="tab-pane fade" id="profile_settings">
              
            </div>
            
            <div class="tab-pane fade" id="new_admin">
              
            </div>
            
          </div>
        </div>
        
       </div>