<form action="/mob/tumblr/connect_tumblr">
	Tumblr Email: <input type="text" name="email">
	</br>
	Tumblr Password: <input type="text" name="password">
	</br>
	<input type="submit" name="commit" value="proceed">
</form>