<h1>Listing student_sub_courses</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_sub_courses.each do |student_sub_course| %>
  <tr>
    <td><%= link_to 'Show', student_sub_course %></td>
    <td><%= link_to 'Edit', edit_student_sub_course_path(student_sub_course) %></td>
    <td><%= link_to 'Destroy', student_sub_course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student sub course', new_student_sub_course_path %>
