<%= link_to('Go to statistics page', {:controller => 'statistics', :action => 'stories', :id => @story.id}, class: "btn btn-large btn-primary") %>
<!-- This table class is from bootstrap and we show a table with the stoy attributes -->
<div id="container" style="width:1150px;float:right">
<div class="page-header" style="color:#00FFFF">
  <h1><%= @story.title %></h1>
</div>   
         
<a href="#"class="thumbnail-story-page"><img src= <%= @story.media_link %> width="300" height="200" ><alt src= "story.jpg"> </a>
</div>
</div>
