<html>
<!-- adding story title-->
 <div align="center">
        <h3> <%= @story.title %> </h3>
      </div>

<!--checking for media url if found with content extract it from content display and then display content without it -->

    <div align="center">
    
    <% if @story.media_link != nil && @story.media_link.length > 3%>
    <img src="<%=@story.media_link%>" width="220" align="center">
	 <%end%>
	 </div></br>
	
 	 
<!-- adds content of story  -->
 <div class="story-comment-box-mobile pre-scrollable" style="padding-left:10px;">
 <% if @story.content != nil %>
 <%= @story.content %>
 <%end%>
 </br></br>
 </div>
 
 <!-- back to main feed button -->
	<div align="center">
			   <%= link_to image_tag('back-icon.png' , :style =>"width:50px;height:30px;"), {:controller => 'users', :action => 'feed'} %>
	   </div></br> 
 </div>
   
</html> 	

