<div "id=submit" align="center">
<form action="recommend_success_mobile_show", id="recommendation">
choose friend email
<br>
<% @flistemail.each do |f| %>
<input type="radio" name="lemail" value=<%=f%>><%=f%>
<br> 
<%end%>
<p>
email: 
</p>  
<input type="text" name="email" id="fmail"/>
<br>
<p>
message: 
</p>
  <input type="text" name="message" />
<br>  
<input type="submit" name="commit" value="send" style="padding-left=200px"/>
</form>	
<div class="btn btn-large", id="back" align="center"> 
<%= link_to("back",{:action => 'get', :id => @story} )%>
</div>
<div class="btn btn-large", id="findfrind" align="center"> 
<%= link_to("find friend",{:controller => 'friendships', :action => 'search'} )%>
</div>
</div>
