<div align="center">
	<% if @successflag == true %> <!-- message to tell the user weather the recommendation was successful or not -->
		<font color = "green">
		 <%= "Recommendation sent successfully" %>
	<%else%>
		<font color = "red">
		 <%= "Please enter a valid email" %>
	<%end%>
	<br>
	<br>
	<br>
	<div align="center"> 
		<%= link_to 'back',{:controller => 'stories', :action => 'recommend_story_mobile_show', :id => @storyid},  class: "btn btn-small" %> 
	</div>
</div> 
