<div style="padding-left:1%;">
    <h3> Choose a social network connect to</h3>

      <div class="actions" style="margin:5%; clear:both">
        <%= link_to image_tag('facebook.png', :size => "50x50") + "Facebook", 
       url_for({:controller => 'users', :action => 'authenticate_facebook_init'}),
         :class => 'quick', 
         :remote => true%>

         <% unless @user.facebook_account.nil? %>
          <div id="twitter_warning" class="flash-green well" style="width:35%; float:right;">
            You are connected to Facebook
          </div>
        <% end %>
      </div>

      <!-- This is the twitter division, please mock it 
          in other social networks
          
          Author: Yahia -->
      <div class="actions" style="margin:5%; clear:both">
        <%= link_to image_tag('twitter.png', :size => "50x50") + "Twitter", 
          url_for({:controller => 'twitter_accounts', :action => 'generate_request_token'}),
          :class => 'quick', 
          :remote => true%>

        <% unless @user.twitter_account.nil? %>
          <div id="twitter_warning" class="warning-component-box-mobile well" style="width:35%; float:right;">
            You are connected to twitter
          </div>
        <% end %>
      </div>

      <div class="actions" style="margin:5%; clear:both">
        <%= link_to image_tag('flickr.png', :size => "50x50") + "Flickr", 
          url_for({:controller => 'flickr_accounts', :action => 'auth'}),
          :class => 'quick', 
          :remote => true%>

        <% if @user.flickr_account %>
          <div id="twitter_warning" class="flash-green well" style="width:35%; float:right;">
            You are connected to flickr
          </div>
        <% end %>

      </div>

      <div class="actions" style="margin:5%; clear:both">
        <%= link_to image_tag('tumblr.png', :size => "50x50") + "Tumblr", 
          url_for({:controller => 'tumblr_accounts', :action => 'login'}),
          :class => 'quick', 
          :remote => true%>
      </div>

</div>    
