<% # encoding: utf-8%>
<html>

<!-- adding story title-->
 <div align="center">
        <h3> <%= @story.title %> </h3>
      </div>

<!--checking for media url if exsist adds the image-->
    <% if @story.media_link != nil && @story.media_link.length > 3%>
    <div align="center">
    	<!-- Author: Menisy
					making the image of the video redirect to 
					the youtube video link -->
    	<% is_video = false %>
  <% if !@story.story_link.nil? %>
   			 <a href="<%= @story.story_link %>">
  <% end %>
    	<!-- Menisy end -->
    <img src="<%=@story.media_link%>"  align="center">
	 </div></br>
	</a>
	
	<%end%>
	
 	 
<!-- adds content of story  -->
 <% if @story.content != nil && @story.content.length > 0%>
 <div class="story-comment-box-mobile well" style="padding-left:10px;border-color:#D3C5C5;">
 <%=raw @story.content %>
 </br></br>
 </div>
 <%end%> 
</html> 	

