<div style="padding-left:1%;">
    <h3> Choose a social network connect to</h3>

      <div class="actions" style="margin:5%; clear:both">
        <%= link_to image_tag('http://www.iconspedia.com/dload.php?up_id=18946', :size => "50x50") + "Facebook", 
       url_for({:controller => 'users', :action => 'authenticate_facebook_init'}),
         :class => 'quick', 
         :remote => true%>
      </div>

      <!-- This is the twitter division, please mock it 
          in other social networks
          
          Author: Yahia -->
      <div class="actions" style="margin:5%; clear:both">
        <%= link_to image_tag('http://www.iconspedia.com/dload.php?up_id=19041', :size => "50x50") + "Twitter", 
          url_for({:controller => 'twitter_accounts', :action => 'generate_request_token'}),
          :class => 'quick', 
          :remote => true%>

        <% if @user.twitter_account %>
          <div id=2 class="warning-component-box-mobile" style="width:35%; float:right;">
            You are connected to twitter
          </div>
        <% end %>
      </div>

      <div class="actions" style="margin:5%; clear:both">
        <%= link_to image_tag('http://www.iconspedia.com/dload.php?up_id=26321', :size => "50x50") + "Flickr", 
          url_for({:controller => 'flickr_accounts', :action => 'auth'}),
          :class => 'quick', 
          :remote => true%>
      </div>

      <div class="actions" style="margin:5%; clear:both">
        <%= link_to image_tag('http://www.iconspedia.com/dload.php?up_id=75407', :size => "50x50") + "Tumblr", 
          url_for({:controller => 'tumblr_accounts', :action => 'action_name'}),
          :class => 'quick', 
          :remote => true%>
      </div>

</div>    
