<script type="text/javascript" charset="utf-8">
  //This is a method that will be called on viewing this page it gets the data that will be added to the graph + what's the start
   //point and also what is the interval between each two points default will be 1 day also it takes the names of the things it
   //view across time by default for a story we will view no of shares , no of likes, no of dislikes and no of spams
   //and then call method kl that will view the graph with the parameters already stated.
  $(document).ready(function() {
      data= <%= get_story_stat(@id) %>   //get The stories array of arrays of data
      names=["No Of Shares","No Of Likes","No of Dislikes","No of spams"]; //the graphs that we want to show
      pointInterval= <%= 1.day * 1000 %> //the time interval between one point and another in the graph.
      pointStart= <%= 30.days.ago.to_i * 1000 %> // Start point of the graph.
      xl="Day"; //Label for x-axis
  kl(data,names,pointInterval,pointStart,xl);  //call the method that renders the graph with the calculated parameters.
  //line();
   });
</script>
<!-- ccc is the id of the div that the graph would render to -->
<div id="ccc" style="width: 700px; height: 500px;"></div>