@import "bootstrap";


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

body {
	padding-top: 60px;
	height:100%;
  	background-color:#eee;
}

textarea {
  resize: vertical;
}

.pre-scrollable {
  max-height: 600px;
  overflow-y: scroll;
}

.logs-table{
	background-color:#FFF;
	height:100%;
}

.logs-table-row-timestamp{
	width:100px;
}
.logs-table-row-type{
	width:50px;
}
.logs-take-input{
   color:#999;
}
.left_panel{
   width:200px;
padding-right:20px;
padding-bottom:20px;
	float:left;
}
.right_panel{
   width:900px;
margin-left:10px;
padding-left:20px;
padding-bottom:20px;
	float:left;
}
.redbadge{
  padding: 1px 4px 2px;
  font-size: 14.998px;
  font-weight: bold;
  line-height: 13px;
  color: #ffffff;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #b94a48;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
 
}
.redbadge:hover {
  background-color: #953b39;
}
.bluebadge {
  padding: 1px 4px 2px;
  font-size: 14.998px;
  font-weight: bold;
  line-height: 13px;
  color: #ffffff;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color:   #3a87ad;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.bluebadge:hover {
  background-color: #2d6987;
}
.yellowbadge {
  padding: 1px 4px 2px;
  font-size: 14.998px;
  font-weight: bold;
  line-height: 13px;
  color: #ffffff;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color:   #f89406;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.yellowbadge:hover {
  background-color: #c67605;;
}
.greenbadge {
  padding: 1px 4px 2px;
  font-size: 14.998px;
  font-weight: bold;
  line-height: 13px;
  color: #ffffff;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color:   #468847;;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.greenbadge:hover {
  background-color: #356635;
}
#error_explanation {
  color:#f00;
 margin: -20px 20px 20px 20px;
  ul {
    list-style: none;
text-align: center;
    margin: 18px 18px 18px 18px;
  }
}

.maindiv{
	margin-top:10px;
}

.control-absolute{
	
	position:absolute;
	margin-left:10px;
}
.control-right-float{
	position:absolute;
	float:right;
		align:horizontal;

}
.control-left-float{
	float:left;
		align:horizontal;

}

.errorwell {
  min-height: 20px;
  padding: 19px;
color:rgb(191, 74, 72);
position:absolute;
text-align: center;
  background-color:rgba(255, 0, 0, 0.10);
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-user-component {
  background-color:#e0e0e0;
  margin-bottom:20px;
  width:600px;
  height:80px;
  border:1px solid #eeeeee;
  border:1px solid rgba(0,0,0,0.05);
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
}

.thumbnail-user-component {
  display: block;
  margin:2px;
  float:left;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
div.well-user-component:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.user-component-info{
	float:left;
	width:515px;
	height:80px;

	border-left:3px solid #ddd;
}
.user-component-text{
   color:#999;
}
.user-component-button-absolute{
	  font-weight: normal;
	 text-transform: none;
	float:right;
	margin-left:25px;
}


.well-story-component {
  background-color:#e0e0e0;
  margin-bottom:20px;
  width:600px;
  height:80px;
  border:1px solid #f89406;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
}

.thumbnail-story-component {
  display: block;
  margin:2px;
  float:left;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
div.well-story-component:hover {
  border-color: #c67605;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.story-component-info{
	float:left;
	width:515px;
	height:80px;

	border-left:3px solid #ddd;
}
.story-component-text{
   color:#999;
}
.story-component-button-absolute{
	  font-weight: normal;
	 text-transform: none;
	float:right;
	margin-left:25px;
}


.thumbnail-interest-page {
  display: block;
  margin:2px;
 width:320px;
 height:320px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
a.thumbnail-interest-page:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.interest-page-text{
   color:#999;
}
.intereset-page-links{
	  font-weight: normal;
	 text-transform: none;

}
.interest-page-description{
	float:left;
	width:320px;

}
.interest-page-well
{
	  background-color:#e5e5e5;
	  margin-bottom:20px;
	  padding:19px;
	  min-height:20px;
	  border:1px solid #eeeeee;
	  border:1px solid rgba(0,0,0,0.05);
	  -webkit-border-radius:4px;
	  -moz-border-radius:4px;
	  border-radius:4px;
	  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
	  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
	  box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);

}
.main-right-interset{
	   width:1000px;
	margin-left:10px;
	padding-left:20px;
	padding-bottom:20px;
		float:left;
}
.middle-interest-panel{
   width:320px;
margin-left:10px;
padding-left:20px;
padding-bottom:20px;
	float:left;
}
.right-interest-panel{
	
   width:650px;
margin-left:20px;
padding-left:20px;
padding-bottom:20px;
	float:left;
}


.interest-control-center{
	margin:10px;
}
.interest-control-absolute {
	position:absolute;
	float:left;
}
