<script type="text/javascript" charset="utf-8">
  //This is a method that will be called on viewing this page it gets the data that will be added to the graph + what's the start
   //point and also what is the interval between each two points default will be 1 day also it takes the names of the things it
   //view across time by default for a story we will view no of shares , no of likes, no of dislikes and no of spams
   //and then call method kl that will view the graph with the parameters already stated.
   
   //also this method gets the start date of data flow from get_interest_start_date method in interestshelper

  $(document).ready(function() {
     //get The user's array of arrays of data
      data= <%= get_user_stat(@id) %>
      //the graphs that we want to show
      names=["No Of Shares","No Of Likes","No of Dislikes","No of Spams","No of Comments"]; 
      //the time interval between one point and another in the graph.
      pointInterval= <%= 1.day * 1000 %> 
      // Start point of the graph.
      pointStart= <%= get_user_start_date(@id).days.ago.to_i * 1000 %>
      //Label for x-axis 
      xl="Day"; 
      //Label for y-axis
      yl="Number";
      //Label for graph title
      titleOfGraph="User Stat";
      //call the method that renders the graph with the calculated parameters.
      Graph(data,names,pointInterval,pointStart,xl,yl,titleOfGraph);  
   });
</script>
<!-- ccc is the id of the div that the graph would render to -->
<div id="ccc" style="width: 700px; height: 500px;"></div>