<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="CoffeeCup HTML Editor (www.coffeecup.com)">
    <meta name="created" content="Fri, 05 April 2012 09:30:47 GMT">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Student's Profile Page</title>
    
    <style type="text/css">
    <!--
    body {
      color:#000000;
      background-color:white;
    }
    a  { color:#0000FF; }
    a:visited { color:#800080; }
    a:hover { color:#008000; }
    a:active { color:#FF0000; }
    -->
    </style>
  </head>
  <body>	
	<div style="position: absolute; top: 100px; left: 370px; z-index: 1px; visibility: show;">
		 <font size="9" face="verdana" color="black" > Student's Profile Page </font>
		 <a/>
	</div>  
	<div style="position: absolute; top: 290px; left: 20px; z-index: 1px; visibility: show;">
		 <font size="4" face="verdana" color="black" > Name </font>
	</div>
	<div style="position: absolute; top: 320px; left: 20px; z-index: 1px; visibility: show;">
		 <font size="3" face="aerial" color="black" > <%= @students.first_name %>  <%= @students.last_name %> </font>
	</div>
	<div style="position: absolute; top: 350px; left: 20px; z-index: 1px; visibility: show;">
		 <font size="4" face="verdana" color="black" > E-Mail </font>
	</div>
	<div style="position: absolute; top: 380px; left: 20px; z-index: 1px; visibility: show;">
		 <font size="3" face="aerial" color="black" > <%= @students.email %></font>
	</div>	
	<div style="position: absolute; top: 410px; left: 20px; z-index: 1px; visibility: show;">
		 <font size="4" face="verdana" color="black" > Subscriptions </font>
	</div>	
	<div style="position: absolute; top: 290px; left: 400px; z-index: 1px; visibility: show;">
		 <font size="4" face="verdana" color="black" > Courses Feed </font>
	</div>	
  </body>
</html>